<div class="external-links">
  <a href="https://github.com/vishizaki" target="_blank">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://www.linkedin.com/in/vinicius-ishizaki/" target="_blank">
    <i class="fab fa-linkedin-in"></i>
  </a>
  <a href="mailto:vinicius.ishizaki@gmail.com" target="_blank">
    <i class="fas fa-envelope"></i>
  </a>
</div>