.card-category {
  background-size: cover;
  // background-position: center;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none !important;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.portfolio-subheader {
  margin-bottom: 1em;
}

#card-title {
  // margin: 0 1em 0 1em;
}

#card-hidden-text {
  display: none;
  
}

#card-title:hover #card-hidden-text {
  display:block;
}

#card-hidden-title {
  color:white;
  margin: 0 1em 0 1em;
}

.hidden-p{
  color:rgba(255, 255, 255, 0.831);
  font-size: 16px;
  font-weight: regular;

}