.navbar-lewagon {
  justify-content: space-between;
  background: $gray;
  height: 80px;
  border-bottom: 4px solid #CDDFFA;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-header{
  color: $blue;
  font-size: 20px;
  font-weight: 700;
  text-decoration:none !important;
}

.navbar {
  padding: 0 80px 0 80px;
  z-index: 10000;
  width: 100vw;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}
a:hover {
  opacity: 70%;
}

.navbar-nav li a{
  color: $blue !important;
  font-size: 18px;
  }

li:hover {
  opacity: 70%;
}
  
@media (min-width: 576px){
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-left: 2.5rem;
  }
}
  